* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#bubbleBox
{
  width: 40%;
  height: 100vh;

  margin: auto;
}

body {
  background-image: linear-gradient(#96fff1, #00b4ff, #1884b6);
  height: 100vh;
  overflow-y: hidden;
  position: relative;
}

.bubble {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(50px);
  border-radius: 50%;
  text-align: center;
  font-size: clamp(10px,1vw,7px);
  font-weight: bold;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: background 0.5s, top 1s ease 0s;
}
.bubble.active {
  background-image: linear-gradient(
    rgba(79, 123, 246, 0.6),
    rgba(12, 58, 119, 0.1)
  );
}

.bubble-container {
  padding: 2rem;
  height: 100%;
  /*position: relative;*/
  overflow: scroll;
}

.controller {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
img {
  width: 3rem;
  cursor: pointer;
  mix-blend-mode: multiply;
}
.play {
  width: 2rem;
  margin: auto;
}

/* ------------------------------------------------------------------------- */
/* bubble backgroud animation */
/* Credit :  https://codepen.io/Mark_Bowley/pen/mEtqj */

#background-wrap {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@-moz-keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@-webkit-keyframes sideWays {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 50px;
  }
}

@-moz-keyframes sideWays {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 50px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 50px;
  }
}

/* OBJECTS */

.bubble-dummy {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
    inset 0 10px 30px 5px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
    inset 0 10px 30px 5px rgba(255, 255, 255, 1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
    inset 0 10px 30px 5px rgba(255, 255, 255, 1);

  height: 200px;
  position: absolute;
  width: 200px;
}

.bubble-dummy:after {



  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  ); /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);

  content: "";
  height: 180px;
  left: 10px;
  position: absolute;
  width: 180px;
}
